<p id="notice"><%= notice %></p>

<h2>User details</h2>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @user.nickname %>
</p>

<%= link_to 'Back', users_path %>